* {background-color: rgb(0, 255, 224)}

 .image-container {
     /* border: 2px red solid; */
     display: flex;
     flex-direction: row-reverse;
     justify-content:space-around;
     flex-wrap: wrap;

 }

.form {
    /* border: 2px blue solid; */
    /* width: 100%; */
}

input {
    height: 30px;
    width: 180px;
    font-family: fantasy;
    /* border: 1px green solid; */
}

button {

}
img {
    height: 300px;
    width: 300px;
    border: 1px green solid;
    margin-top: 20px;
}

p {
    font-family: sans-serif;
}
h1 {
    -webkit-font-smoothing:antialiased;
    font-family: cursive;
    font-size: 25px;


}
#modal {
    border: 3px green solid;
    background-color: rgb(198, 67, 249);
    height: 100px;

}
