* {
    background-color: rgb(0, 255, 224)
}

.container {
    /* border: 2px red solid; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: flex-start;
    margin-left: 80px;
}

.content-container {
    width: 300px;
    height: 300px;
    margin-top: 20px;

    /* border: 5px green solid; */
}

.image-container {
    /* border: 5px blue solid; */
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px #43a3e8 solid;
    margin-right: 20px;
}

#large-image {
    height: 300px;
    width: 300px;

}
input {
    height: 30px;
    width: 180px;
    font-family: fantasy;
    font-size: 15px;
    /* border: 1px green solid; */
}

button {
    height: 40px;
    width: 100px;
}

img {

    min-height: 100%;
    width: 100%;

    /* margin-top: 20px; */
}

p {
    font-family: fantasy;
    height: 10px;
}

h1 {
    -webkit-font-smoothing: antialiased;
    font-family: cursive;
    font-size: 25px;
}

#modal {
    border: 3px green solid;
    background-color: purple;
    height: 100%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
    justify-content: flex-end;
